# Avalanche Fuji
AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
AVALANCHE_WS_URL=wss://api.avax-test.network/ext/bc/C/ws
PRIVATE_KEY=your_relayer_private_key_here
ESCROW_CONTRACT_ADDRESS=0xF284251509ebcb1AFc111e27dF889703815AeE39

# GenLayer Bradbury Testnet
GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
GENLAYER_CONTRACT_ADDRESS=0x0dD12a8cC5441B26ED4a798AE0D1Dc6369fC2516
GENLAYER_PRIVATE_KEY=your_genlayer_private_key_here

# Relayer API
PORT=3100
CHAIN=fuji
